<script>
import axios from 'axios';
import Swal from 'sweetalert2';
export default {
    name: 'create-edit-comment',
    props: {
        id: {
            type: String,
            default: null,
        },
        id_post: {
            type: String,
            default: null,
        },
        id_user: {
            type: String,
            default: null,
        },
        isedit: {
            type: Boolean,
            default: false,
        }
    },
    data() {
        return {
            date: null,
            comment: null
        }
    },
    created() {
        this.getComment()
        console.log('comment component id', this.id)
        console.log('comment component id_post', this.id_post)
        console.log('comment component id_user', this.id_user)
    },
    methods: {
        getComment() {
            if(this.id != null) {
                axios.get('../api/comments/'+this.id).then(response => {
                    this.date = response.data.data[0].date;
                    this.comment = response.data.data[0].comment;
                    console.log('comment', this.comment);
                }).catch(error => {
                    console.log('error', error)
                })
            }
        },
        saveComment() {
            if(this.isedit == true) {
                axios.post('../api/comments/update/'+this.id, {
                    comment: this.comment
                }).then(response => {
                    Swal.fire({
                        title: 'Success Update Comment!',
                        icon: 'success',
                        confirmButtonText: 'OK',
                    }).then((result) => {
                        window.location.href = '/post/'+this.id_post
                    })
                }).catch(error => {
                    console.log('error', error)
                })
            }
            else {
                axios.post('../../api/comments/save/', {
                    id_post: this.id_post,
                    by: this.id_user,
                    comment: this.comment
                }).then(response => {
                    Swal.fire({
                        title: 'Success Save Comment!',
                        icon: 'success',
                        confirmButtonText: 'OK',
                    }).then((result) => {
                        window.location.href = '/post/'+this.id_post
                    })
                }).catch(error => {
                    console.log('error', error)
                })
            }
        }
    }
}
</script>

<template>
<div class="p-10">
<form @submit.prevent="saveComment">
    <div class="control ">
        <span v-if="date != null" class="label text-is-black italic">{{ date }}</span>
        <textarea   name="content"
                                id="content"
                                class="textarea"
                                placeholder="Content.."
                                v-model="comment"
                                required>

        </textarea>
        <InputError class="m-t-5" message="Content is required!" />
    </div>

    <button type="submit"
            name="isok"
            id="isok"
            title="OK"
            class="button is-success is-fullwidth">
            OK
    </button>
</form>
</div>
</template>
