.post, .comment {
    border-bottom: 1px solid #aaa;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.block-comments {
    border-top: 3px double #555;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    background: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px rgb(0, 0, 0, .9);
}
