<script>
import axios from 'axios';
import Swal from 'sweetalert2';
import { Head } from '@inertiajs/vue3';
import Navbar from '../../Components/NavBar.vue';
export default{
    name: 'create-edit-post',
    components: {
        Head, Navbar
    },
    props: {
        homelink: {
            type: String,
            default: null,
        },
        signinlink: {
            type: String,
            default: null,
        },
        loginlink: {
            type: String,
            default: null,
        },
        createlink: {
            type: String,
            default: null,
        },
        islogin: {
            type: String,
            default: false,
        },
        headtitle: {
            type: String,
            default: false,
        },
        data: {
            type: Array,
            default: null,
        }
    },
    data() {
        return {
            title: null,
            date: null,
            content: null,
            linkback: null,
        }
    },
    created() {
        this.getPost()
    },
    methods: {
        getPost() {
            if(this.data != null) {
                this.linkback = '/post/'+this.data[0].id;
                this.title    = this.data[0].title;
                this.date     = this.data[0].date;
                this.content  = this.data[0].content;
            }
        },
        savePost() {
            if(this.data != null) {
                axios.post('../../api/post/update/'+this.data[0].id, {
                    title: this.title,
                    date: this.date,
                    content: this.content
                }).then(response => {
                    Swal.fire({
                        title: 'Success Update Post!',
                        icon: 'success',
                        confirmButtonText: 'OK',
                    }).then((result) => {
                        window.location.href = '/post/'+this.data[0].id
                    })
                }).catch(error => {
                    console.log('error', error)
                })
            }
            else {
                axios.post('../api/post/save/', {
                    title: this.title,
                    date: this.date,
                    content: this.content
                }).then(response => {
                    Swal.fire({
                        title: 'Success Create New Post!',
                        icon: 'success',
                        confirmButtonText: 'OK',
                    }).then((result) => {
                        window.location.href = '/dashboard'
                    })
                }).catch(error => {
                    console.log('error', error)
                })
            }
        }
    }
}
</script>

<template>
<Head :title="headtitle" />
<div class="p-30 is-mobile is-desktop">
    <h1 class="title bold text-is-black center">{{ headtitle }}</h1>
    <form @submit.prevent="savePost" class="m-t-30">
        <div class="columns">
            <div class="column is-half">
                <div class="control ">
                    <input  type="text"
                            name="title"
                            id="title"
                            class="input"
                            placeholder="Title.."
                            v-model="title"
                            required>
                    <InputError class="m-t-5" message="Title is required!" />
                </div>
            </div>

            <div class="column is-half">
                <div class="control">
                    <input  type="date"
                            name="date"
                            id="date"
                            class="input"
                            placeholder="Date.."
                            v-model="date"
                            required>
                    <InputError class="m-t-5" message="Date is required!" />
                </div>
            </div>
        </div>

        <div class="control ">
            <textarea   name="content"
                                id="content"
                                class="textarea"
                                placeholder="Content.."
                                v-model="content"
                                required>

            </textarea>
            <InputError class="m-t-5" message="Content is required!" />
        </div>

        <div class="m-t-30">
        <div class="buttons has-addons is-centered">
            <a :href="linkback" title="Back" class="button is-link is-rounded is-medium">
                Back
            </a>

            <button type="submit"
                    name="isok"
                    id="isok"
                    title="OK"
                    class="button is-success is-link is-rounded is-medium">
                    Save
            </button>
        </div>
    </div>

    </form>
</div>
</template>
