<script>
import axios from 'axios';
import { Head } from '@inertiajs/vue3';
import Navbar from '../../Components/NavBar.vue';
export default {
    name: 'dashboard',
    props: {
        homelink: {
            type: String,
            default: null,
        },
        signinlink: {
            type: String,
            default: null,
        },
        loginlink: {
            type: String,
            default: null,
        },
        createlink: {
            type: String,
            default: null,
        },
        islogin: {
            type: String,
            default: false,
        }
    },
    components: {
        Head, Navbar
    },
    data() {
        return {
            title: 'Welcome',
            page: 1,
            list_post: null,
            last_page: 0
        }
    },
    created() {
        this.getAll(0)
    },
    methods: {
        getAll(page=1) {
            axios.get('../api/post/all?page='+page).then(response => {
                this.page = page;
                this.list_post = response.data.data.data;
                this.last_page = response.data.data.last_page;
                $('.pagination-link').removeClass('is-current');
                $('#page-link-'+page).addClass('is-current');
                // console.log('all post', this.list_post);
            }).catch(error => {
                console.log('error', error)
            })
        },
    }
}
</script>

<template>
<Head :title="title"/>

<Navbar :homelink="homelink"
        :loginlink="loginlink"
        :signinlink="signinlink"
        :createlink="createlink"
        :islogin="islogin" />

<div class="p-30 is-desktop is-mobile text-is-black">
    <div v-if="list_post == null">
        <h1 class="title text-is-black bold center">No Post!<br/>Create Post First!</h1>
    </div>
    <div v-else>
        <div v-for="(p, x) in list_post" :key="x">
            <div class="post">
                <div class="title bold text-is-black"><a :href="'/post/'+p.id">{{ p.title }}</a></div>
                <div class="m-t-10">
                    <span class="bold">{{ p.date }}</span> | <span>{{ p.author }}</span>
                </div>
            </div>
        </div>

        <nav class="pagination is-centered" role="navigation" aria-label="pagination">

            <!-- <a class="pagination-previous" :disabled="page === 1" @click="getPage(page - 1)">Previous</a> -->
            <ul class="pagination-list">
                <li v-for="pg in last_page" :key="pg">
                    <a href="#" @click="getAll(pg)" :id="'page-link-'+pg" :class="{ 'is-current': pg === page }" class="pagination-link" :aria-label="'Goto page'+pg">{{ pg }}</a>
                </li>
                <!-- <li><a href="#" @click="getAll(1)" id="page-link-1" class="pagination-link is-current" aria-label="Goto page 1">1</a></li>
                <li><a href="#" @click="getAll(2)" id="page-link-2" class="pagination-link" aria-label="Goto page 2">2</a></li>
                <li><a href="#" @click="getAll(3)" id="page-link-3" class="pagination-link" aria-label="Goto page 3">3</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a href="#" @click="getAll(8)" id="page-link-8" class="pagination-link" aria-label="Goto page 8">8</a></li>
                <li><a href="#" @click="getAll(9)" id="page-link-9" class="pagination-link" aria-label="Goto page 9">9</a></li>
                <li><a href="#" @click="getAll(10)" id="page-link-10" class="pagination-link" aria-label="Goto page 10">10</a></li> -->
            </ul>
            <!-- <a class="pagination-next" :disabled="page === last_page" @click="getPage(page + 1)">Next</a> -->
        </nav>
    </div>
</div>
</template>
