<script>
import axios from 'axios';
import Swal from 'sweetalert2';
import { Head } from '@inertiajs/vue3';
import Navbar from '../../Components/NavBar.vue';
import CommentEditor from '../comment/create_edit.vue';
export default {
    name: 'detailpost',
    components: {
        Head, Navbar, CommentEditor
    },
    props: {
        homelink: {
            type: String,
            default: null,
        },
        signinlink: {
            type: String,
            default: null,
        },
        loginlink: {
            type: String,
            default: null,
        },
        createlink: {
            type: String,
            default: null,
        },
        id: {
            type: String,
            default: null,
        },
        user: {
            type: String,
            default: null,
        },
        islogin: {
            type: String,
            default: false,
        }
    },
    data() {
        return {
            post: '',
            comments: null,
            crComment: false,
            edComment: false,
            idComment: null
        }
    },
    computed() {
        this.createComment(0)
    },
    created() {
        this.getPost()
    },
    methods: {
        getPost() {
            axios.get('../api/post/'+this.id).then(response => {
                this.post = response.data.data.post[0];
                this.comments = response.data.data.comments;

                // this.list_post = this.list_post[0];
                // console.log('user', this.user);
                // console.log('id_user', this.post.id_user);
            }).catch(error => {
                console.log('error', error)
            })
        },
        createComment(id) {
            if(this.crComment == false) this.crComment = true;
            else if(this.crComment == true) this.crComment = false;
            this.idComment = id
        },
        editComment(id) {
            if(this.edComment == false) {
                this.edComment = true;
            }
            else if(this.edComment == true) {
                this.edComment = false;
            }
            this.idComment = id

            // if($('#'+id).hasClass('show')) {
            //     this.edComment = false;
            //     $('#'+id).removeClass('show');
            // }
            // this.edComment = true;
            // $('#'+id).addClass('show');
        },
        deleteComment(id) {
            axios.post('../api/comments/delete/'+id).then(response => {
                Swal.fire({
                    title: 'Success Delete You\'re Comment!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                }).then((result) => {
                    window.location.href = '/post/'+this.id
                })
            }).catch(error => {
                console.log('error', error)
            })
        }
    }
}
</script>

<template>
<Head :title="post.title"/>

<Navbar :homelink="homelink"
        :loginlink="loginlink"
        :signinlink="signinlink"
        :createlink="createlink"
        :islogin="islogin" />

<div class="p-30 is-desktop is-mobile text-is-black">
    <h1 class="title bold text-is-black">{{ post.title }}</h1>
    <div class="m-t-10">
        <span class="bold">Author : {{ post.author }}</span> | <span class="italic">{{ post.date }}</span>
        <span v-if="islogin != null">,
            <a :href="'../post/edit/'+post.id">
                <ion-icon name="create-outline"></ion-icon>
                Edit
            </a>
        </span>
    </div>

    <div class="m-t-30 justify">
        {{ post.content }}
    </div>

    <div class="block-comments">
        <span v-if="islogin != null">
            <a href="#create_comment" @click="createComment(0)" class="is-link" >
                <ion-icon name="create-outline"></ion-icon> Add Comment
            </a> |
        </span>
        <span class="bold text-is-black underline">Comments</span> :

        <div v-if="crComment == true">
            <CommentEditor :id="idComment" :id_post="post.id" :id_user="user" :isedit="false" />
        </div>

        <div class="comment" v-for="(cm, x) in comments" :key="x">
            <span class="bold">By: {{ cm.by }}</span> | <span class="italic">{{ cm.date }}</span><br/>
            <p class="m-t-10">
                {{ cm.comment }}
            </p>
            <p class="m-t-10" v-if="user == cm.id_user">
                <button @click="editComment('editcomment'+cm.id)" class="button is-link" :id="'editcomment'+cm.id">Edit</button> <button @click="deleteComment(cm.id)" class="button is-danger">Delete</button>
            </p>

            <div v-if="edComment == true" :id="'editcomment'+cm.id" class="">
                <CommentEditor :id="cm.id" :id_post="post.id" :id_user="user" :isedit="true" />
            </div>
        </div>
    </div>
</div>
</template>
