<script>
import axios from 'axios';
import { Head } from '@inertiajs/vue3';
export default {
    name: 'login',
    components: {
        Head
    },
    props: {
        islogin: {
            type: String,
            default: null,
        }
    },
    data() {
        return {
            email: null,
            password: null,
            islogin: null
        }
    },
    created() {
        if(this.islogin != null) window.location.href = '/dashboard'
    },
    methods: {
        login() {
            axios.post('../api/mlogin', {
                email: this.email,
                password: this.password,
            }).then(response => {
                window.location.href = 'dashboard';
            }).catch(error => {
                console.log('error', error)
            })
        }
    }
}
</script>

<template>
<Head title="Log in" />

<div v-if="status" class="mb-4 font-medium text-sm text-green-600">
    {{ status }}
</div>

<form @submit.prevent="login" class="p-30 form">
    <div class="control">
        <input  type="email"
                name="email"
                id="email"
                class="input"
                placeholder="Email.."
                v-model="email"
                required>
        <InputError class="m-t-5" message="Email is required!" />
    </div>

    <div class="control m-t-10">
        <input  type="password"
                name="password"
                id="password"
                class="input"
                placeholder="Password.."
                v-model="password"
                required>
        <InputError class="m-t-5" message="Password is required!" />
    </div>

    <div class="m-t-30">
        <div class="buttons has-addons is-centered">
            <button type="submit"
                    name="isok"
                    id="isok"
                    title="OK"
                    class="button is-success is-link is-rounded is-medium">
                    Login
            </button>

            <a href="msignin" title="Sign In" class="button is-link is-rounded is-medium">
                Sign In
            </a>
        </div>
    </div>
</form>
</template>

<style>
body {
    font-family: "Georgia", Noto, serif;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
</style>
