<script>
import axios from 'axios';
import Swal from 'sweetalert2';
import { Head } from '@inertiajs/vue3';
export default {
    name: 'register',
    components: {
        Head
    },
    props: {
        islogin: {
            type: String,
            default: null,
        }
    },
    data() {
        return {
            name: null,
            email: null,
            password: null,
            password_confirmation: null,
            islogin: null
        }
    },
    created() {
        if(this.islogin != null) window.location.href = '/dashboard'
    },
    methods: {
        register() {
            axios.post('../api/mregister', {
                name: this.name,
                email: this.email,
                password: this.password,
            }).then(response => {
                Swal.fire({
                    title: 'Register Success!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                }).then((result) => {
                    window.location.href = '/login'
                })
            }).catch(error => {
                console.log('error', error)
            })
        },
    }
}
</script>

<template>
<Head title="Register" />

<form @submit.prevent="register" class="p-30 form">
    <div class="control">
        <input  type="text"
                name="name"
                id="name"
                class="input"
                placeholder="Name.."
                v-model="name"
                required
                autofocus
                autocomplete="name">
        <InputError class="mt-2" message="Name is required" />
    </div>

    <div class="control m-t-10">
        <input  type="email"
                name="email"
                id="email"
                class="input"
                placeholder="Email.."
                v-model="email"
                required
                autofocus
                autocomplete="username">
        <InputError class="mt-2" message="Email is required" />
    </div>

    <div class="control m-t-10">
        <input  type="password"
                name="password"
                id="password"
                class="input"
                placeholder="Password.."
                v-model="password"
                required
                autofocus
                autocomplete="new-password">
        <InputError class="mt-2" message="Password is required" />
    </div>

    <div class="control m-t-10">
        <input  type="password"
                name="password_confirmation"
                id="password_confirmation"
                class="input"
                placeholder="Confirm Password.."
                v-model="password_confirmation"
                required
                autofocus
                autocomplete="new-password">
        <InputError class="mt-2" message="Confirm Password is required" />
    </div>

    <div class="m-t-30">
        <div class="buttons has-addons is-centered">
            <button type="submit"
                    name="isok"
                    id="isok"
                    title="OK"
                    class="button is-success is-link is-rounded is-medium">
                    Register
            </button>

            <a href="login" title="Sign In" class="button is-link is-rounded is-medium">
                Already registered?
            </a>
        </div>
    </div>
</form>
</template>

<style>
body {
    font-family: "Georgia", Noto, serif;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
</style>
