<script>
import axios from 'axios';
export default{
    name: 'navbar',
    props: {
        homelink: {
            type: String,
            default: null,
        },
        signinlink: {
            type: String,
            default: null,
        },
        loginlink: {
            type: String,
            default: null,
        },
        createlink: {
            type: String,
            default: null,
        },
        islogin: {
            type: String,
            default: false,
        }
    },
    data() {
        return {}
    },
    methods: {
        toLogout() {
            axios.get('../api/mlogout').then(response => {
                window.location.href = '/'
            }).catch(error => {
                console.log('error', error)
            })
        }
    }
}
</script>

<template>
<nav class="level" role="navigation" aria-label="main navigation">
    <p class="level-item has-text-centered" v-if="islogin == null">
        <a :href="loginlink" class="bold underline is-link">
            LogIn
        </a>
    </p>

    <p class="level-item has-text-centered" v-if="islogin != null">
        <a href="#logout" class="bold underline is-link" @click="toLogout()">
            Logout
        </a>
    </p>

    <p class="level-item has-text-centered">
        <a :href="homelink" class="title">
            <ion-icon name="home-outline"></ion-icon>
        </a>
    </p>

    <p class="level-item has-text-centered" v-if="islogin == null">
        <a :href="signinlink" class="bold underline is-link" >
            Sign In
        </a>
    </p>

    <p class="level-item has-text-centered" v-if="islogin != null">
        <a :href="createlink" class="bold underline is-link">
            Create
        </a>
    </p>
</nav>
</template>
