<script setup>
// import Checkbox from '@/Components/Checkbox.vue';
// import GuestLayout from '@/Layouts/GuestLayout.vue';
// import InputError from '@/Components/InputError.vue';
// import InputLabel from '@/Components/InputLabel.vue';
// import PrimaryButton from '@/Components/PrimaryButton.vue';
// import TextInput from '@/Components/TextInput.vue';
import { Head, Link, useForm } from '@inertiajs/vue3';

defineProps({
    canResetPassword: {
        type: Boolean,
    },
    status: {
        type: String,
    },
});

const form = useForm({
    email: '',
    password: '',
    remember: false,
});

const submit = () => {
    form.post(route('login'), {
        onFinish: () => form.reset('password'),
    });
};
</script>

<template>
<Head title="Log in" />

<div v-if="status" class="mb-4 font-medium text-sm text-green-600">
    {{ status }}
</div>

<form @submit.prevent="submit" class="p-30 form">
    <div class="control">
        <input  type="email"
                name="email"
                id="email"
                class="input"
                placeholder="Email.."
                v-model="form.email"
                required>
        <InputError class="m-t-5" :message="form.errors.email" />
    </div>

    <div class="control m-t-10">
        <input  type="password"
                name="password"
                id="password"
                class="input"
                placeholder="Password.."
                v-model="form.password"
                required>
        <InputError class="m-t-5" :message="form.errors.password" />
    </div>

    <div class="block mt-4">
        <label class="checkbox">
            <input  type="checkbox"
                    name="remember"
                    id="remember"
                    v-model="form.remember">
            Remember me
        </label>
    </div>

    <div class="m-t-30">
        <div class="buttons has-addons is-centered">
            <button type="submit"
                    name="isok"
                    id="isok"
                    title="OK"
                    class="button is-success is-link is-rounded is-medium">
                    Login
            </button>

            <a href="register" title="Sign In" class="button is-link is-rounded is-medium">
                Sign In
            </a>
        </div>
    </div>
</form>
</template>

<style>
body {
    font-family: "Georgia", Noto, serif;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
</style>
