<script setup>
import GuestLayout from '@/Layouts/GuestLayout.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Head, Link, useForm } from '@inertiajs/vue3';

const form = useForm({
    name: '',
    email: '',
    password: '',
    password_confirmation: '',
});

const submit = () => {
    form.post(route('register'), {
        onFinish: () => form.reset('password', 'password_confirmation'),
    });
};
</script>

<template>
<Head title="Register" />

<form @submit.prevent="submit" class="p-30 form">
    <div class="control">
        <input  type="text"
                name="name"
                id="name"
                class="input"
                placeholder="Name.."
                v-model="form.name"
                required
                autofocus
                autocomplete="name">
        <InputError class="mt-2" :message="form.errors.name" />
    </div>

    <div class="control m-t-10">
        <input  type="email"
                name="email"
                id="email"
                class="input"
                placeholder="Email.."
                v-model="form.email"
                required
                autofocus
                autocomplete="username">
        <InputError class="mt-2" :message="form.errors.email" />
    </div>

    <div class="control m-t-10">
        <input  type="password"
                name="password"
                id="password"
                class="input"
                placeholder="Password.."
                v-model="form.password"
                required
                autofocus
                autocomplete="new-password">
        <InputError class="mt-2" :message="form.errors.password" />
    </div>

    <div class="control m-t-10">
        <input  type="password"
                name="password_confirmation"
                id="password_confirmation"
                class="input"
                placeholder="Confirm Password.."
                v-model="form.password_confirmation"
                required
                autofocus
                autocomplete="new-password">
        <InputError class="mt-2" :message="form.errors.password_confirmation" />
    </div>

    <div class="m-t-30">
        <div class="buttons has-addons is-centered">
            <button type="submit"
                    name="isok"
                    id="isok"
                    title="OK"
                    class="button is-success is-link is-rounded is-medium">
                    Register
            </button>

            <a href="login" title="Sign In" class="button is-link is-rounded is-medium">
                Already registered?
            </a>
        </div>
    </div>
</form>
</template>

<style>
body {
    font-family: "Georgia", Noto, serif;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
</style>
